.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --color-primary-hover: #2196f3;
  --color-banner: #2f303a;
  --color-btn-banner-hover: #188ce8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f5f4fa;
  --primary-color: #212121;
  --secondary-color: #757575;
  --color-svg: #afb1b8;
  --primary-font-famaly: "Roboto", sans-serif;
  --secondary-font-famaly: "Raleway", sans-serif;
  --main-font-size: 14px;
  --main-letter-spacing: 0.03em;
  --main-color-link: #212121;
  --secondary-color-link: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--color-white);
  font-family: var(--primary-font-famaly);
  color: var(primary-color);
  font-size: var(--main-font-size);
  letter-spacing: var(--main-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--main-color-link);
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0px;
}
.filter-item button {
  background-color: var(--color-gray);
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color-link);
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: var(--primary-font-famaly);
  border-radius: 4px;
  padding: 6px 25px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
}
.filter-item button:hover, .filter-item button:focus {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-content {
  padding: 20px;
  border: 1px solid #eeeeee;
  /* position: relative; */
  /* background-color: var(--color-white); */
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 90px) / 3);
  position: relative;
}

.portfolio-title {
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color-link);
  font-weight: 400;
}

.portfolio-link {
  display: block;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
}
.portfolio-wrapper::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-wrapper::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  display: block;
}

.portfolio-text-description {
  position: absolute;
  font-size: 18px;
  letter-spacing: 0.03em;
  opacity: 0;
  top: 30%;
  left: 0;
  padding: 0 25px;
  color: var(--color-white);
  line-height: 1.56;
  height: 100%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-description {
  opacity: 1;
  top: 20%;
}

.footer {
  background-color: var(--color-banner);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  margin-bottom: 20px;
  display: block;
  padding: 0;
}

.social-text {
  color: var(--color-white);
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-item {
  margin-right: 100px;
}

.footer-social {
  margin-right: auto;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  fill: var(--color-white);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--color-primary-hover);
  border-radius: 50%;
}

.email-text {
  color: var(--color-white);
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-email input {
  width: 358px;
  height: 50px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.email-input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-footer-input {
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--color-primary-hover);
  font-family: var(--primary-font-famaly);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  color: var(--color-white);
  margin-left: 12px;
  cursor: pointer;
}
.btn-footer-input:hover, .btn-footer-input:focus {
  background-color: var(--color-btn-banner-hover);
}

.email-button-telegram {
  vertical-align: bottom;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 52px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 94px;
}

.nav__link {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-color-link);
  -webkit-transition-property: color;
  transition-property: color;
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-primary-hover);
}

.active {
  color: var(--color-primary-hover);
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--color-primary-hover);
}

.contacts-header {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-header__item {
  letter-spacing: 0.02em;
}
.contacts-header__item:hover {
  fill: var(--color-primary-hover);
}

.contacts-header__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header__mail,
.contacts-header__number {
  color: var(--secondary-color-link);
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}

.contacts-mail-active {
  color: var(--color-primary-hover);
}

.contacts-header__mail:hover,
.contacts-header__mail:focus,
.contacts-header__number:hover,
.contacts-header__number:focus {
  color: var(--color-primary-hover);
}

.contacts-header__mail-icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.contacts-header__mail-icon:hover, .contacts-header__mail-icon:focus {
  fill: var(--color-primary-hover);
}

.contacts-header__number-icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.contacts-header__number-icon:hover, .contacts-header__number-icon:focus {
  fill: var(--color-primary-hover);
}

.address {
  font-style: normal;
}

.address-item {
  line-height: 1.71;
}
.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.addres-street {
  color: var(--color-white);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 580px;
  width: 528px;
  background: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* transition:  250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.modal-close-btn:hover .modal-close use, .modal-close-btn:focus-visible .modal-close use {
  fill: var(--color-primary-hover);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn .modal-close use {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: var(--color-primary-hover);
  font-family: var(--secondary-font-famaly);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo .logo-dark {
  color: var(--color-black);
}
.logo .logo-light {
  color: var(--color-white);
}

.main-banner {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-baner/mainbg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-baner/mainbg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.main-list {
  padding-top: 94px;
}

.main-list__list-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-button {
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--color-primary-hover);
  line-height: 1.88;
  cursor: pointer;
  font-family: var(--primary-font-famaly);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.main-button:hover, .main-button:focus {
  background-color: var(--color-btn-banner-hover);
}

.main-title {
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.36;
  font-size: 44px;
  letter-spacing: 0.06em;
  font-weight: 900;
  margin-bottom: 28px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__img {
  position: relative;
  display: block;
  height: auto;
  max-width: 100%;
}

.works__text {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.works__item {
  margin-left: 30px;
  position: relative;
}
.works__item:nth-child(1) {
  margin-left: 0;
}

.main-list__item-page {
  width: 270px;
}
.main-list__item-page:not(:last-child) {
  margin-right: 30px;
}

.main-list__item-page-bg {
  background-color: var(--color-gray);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.main-list__item-page-svg {
  height: 70px;
  width: 70px;
}

.title-page {
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  font-size: var(--main-font-size);
}

.desc-page {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  font-weight: 400;
}

.title-section {
  line-height: 1.16;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.team {
  background-color: var(--color-gray);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item {
  margin-left: 30px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(1) {
  margin-left: 0;
}

.team-img {
  display: block;
  height: auto;
  max-width: 100%;
}

.team-name {
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.team-person {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  line-height: 1.18;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: var(--color-svg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.social-list-link {
  width: 44px;
  height: 44px;
  background-color: var(--color-white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--color-white);
}
.social-list-link:hover, .social-list-link:focus {
  fill: var(--color-white);
  width: 44px;
  height: 44px;
  background-color: var(--color-primary-hover);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-list-item {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partner-list-item:not(:last-child) {
  margin-right: 30px;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partner-list-icon use {
  fill: var(--color-svg);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.partner-list-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--color-svg);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border;
  transition-property: border;
}
.partner-list-link:hover .partner-list-icon use, .partner-list-link:focus .partner-list-icon use {
  fill: var(--color-primary-hover);
}
.partner-list-link:hover, .partner-list-link:focus {
  border: 1px solid var(--color-primary-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 580px;
  width: 528px;
  background: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* transition:  250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.modal-close-btn:hover .modal-close use, .modal-close-btn:focus-visible .modal-close use {
  fill: var(--color-primary-hover);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn .modal-close use {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-link);
}

.contacts-form-field {
  display: block;
  margin-top: 10px;
}
.contacts-form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
}

.contact-field-message {
  width: 100%;
  height: 100px;
  padding: 16px 12px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
}

.user {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.contacts-form-field-wrapper {
  position: relative;
  display: block;
}

.contact-field:focus + .contacts-form-icon {
  fill: var(--color-primary-hover);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  color: var(--main-color-link);
  -webkit-transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-field-name,
.contact-field-phone,
.contact-field-mail {
  padding-left: 42px;
}

.contact-field:focus {
  border-color: var(--color-primary-hover);
  outline: none;
}

.contact-field {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts-form-message-wrapper {
  display: block;
  margin-top: 10px;
}

.contact-field-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-field-message::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-field-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-field-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-field-message::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-text-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}
.contact-form-text-info::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color-link);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 3px;
}

.contact-form-text-desc:checked + .contact-form-text-info::before {
  background-color: var(--color-btn-banner-hover);
  background-image: url("../images/svg/Vector.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color-btn-banner-hover);
  background-position: center;
}

.contact-form-text-desc:checked + .contact-form-text-info {
  border-color: var(--color-btn-banner-hover);
}

.contacts-form-link {
  color: var(--color-primary-hover);
}

.contact-form-text-desc:focus + .contact-form-text-info::before {
  background-color: var(--color-primary-hover);
}

.contacts-form-btn {
  color: var(--color-white);
  letter-spacing: 0.06em;
  background-color: var(--color-primary-hover);
  line-height: 1.88;
  width: 200px;
  cursor: pointer;
  font-family: var(--primary-font-famaly);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  padding: 10px 32px;
}
.contacts-form-btn:hover, .contacts-form-btn:focus {
  background-color: var(--color-btn-banner-hover);
}/*# sourceMappingURL=main.css.map */