.footer {
  background-color: var(--color-banner);
  padding-top: 60px;
  padding-bottom: 60px;
  .logo {
  margin-bottom: 20px;
  display: block;
  padding: 0;
  }
}

.social-text {
  color: var(--color-white);
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-item {
  margin-right: 100px;
}

.footer-social {
  margin-right: auto;
}

.footer-social-list {
  display: flex;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  fill: var(--color-white);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  &:hover,&:focus{
      background-color: var(--color-primary-hover);
  border-radius: 50%;
  }
}


.email-text {
  color: var(--color-white);
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-email input {
  width: 358px;
  height: 50px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.email-input-form {
  display: flex;
}

.btn-footer-input {
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--color-primary-hover);
  font-family: var(--primary-font-famaly);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  color: var(--color-white);
  margin-left: 12px;
  cursor: pointer;
  &:hover,&:focus{
      background-color: var(--color-btn-banner-hover);
  }
}

.email-button-telegram {
  vertical-align: bottom;
}