.works__list {
  display: flex;
}

.works__img {
  position: relative;
  display: block;
  height: auto;
  max-width: 100%;
}

// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .works__img:nth-child(1) {
//     background-image: url(../../images/works/work-1@2x\(3\).jpg);
//   }
//   }

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .works__img-1 {
    background-image: url(../../images/works/work-2@2x\(4\).jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .works__img-2 {
    background-image: url(../../images/works/work-2@2x\(4\).jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .works__img-3 {
    background-image: url(../../images/works/work-3@2x\(5\).jpg);
  }
}

.works__text {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.works__item {
  margin-left: 30px;
  position: relative;
  &:nth-child(1) {
    margin-left: 0;
  }
}

.main-list__item-page-bg {
  background-color: var(--color-gray);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.main-list__item-page-svg {
  height: 70px;
  width: 70px;
}

.title-page {
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  font-size: var(--main-font-size);
}
.desc-page {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .main-list__item-page {
    // width: 270px;
    &:not(:last-child) {
      // margin-right: 30px;
    }
  }
  .works {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-list__list-page {
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title-page {
    text-align: center;
  }
  .main-list__item-page-bg {
    margin-top: 30px;
  }
  .main-list__item-page-bg:first-child {
    margin-top: 0;
  }
  .main-list__item-page {
    // margin-bottom: 30px;
    // margin-right: 15px;
    // margin-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  // .main-list__item-page:not(:last-child){
  //   margin-right: 0;
  // }
  .main-list__list-page {
    // display: flex;
    // flex-direction: column;
  }

  .main-list__item-page {
    margin-right: 0;
  }
  .main-list__item-page {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .main-list__item-page {
    // width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .main-list__item-page {
    width: 50%;
  }
}
