.team {
  background-color: var(--color-gray);
}

.team-list {
  display: flex;
  // flex-direction: column;
}

.team-item {
  margin-bottom: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(1) {
    // margin-left: 0;
  }
}

.team-img {
  display: block;
  height: auto;
  max-width: 100%;
}


// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .team-person-1 {
//     background-image: url(../../images/comand/pr-designer-@2x\(6.1\).jpg);
//   }
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .team-person-2 {
//     background-image: url(../../images/comand/developer@2x\(2.1\).jpg);
//   }
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .team-person-3 {
//     background-image: url(../../images/comand/marketing@2x\(7.1\).jpg);
//   }
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .team-person-4 {
//     background-image: url(../../images/comand/ui-designer@2x\(3.1\).jpg);
//   }
// }

.team-name {
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}
.team-person {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  line-height: 1.18;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 399px) {
  .team-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .team-item {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    max-width: 354px;
    margin-right: 15px;
    // margin-left: 15px;
  }
  .team-list {
    // flex-wrap:wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    max-width: 270px;
    margin-left: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
