// .container {
//   width: 1200px;
//   margin-right: auto;
//   margin-left: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

.container {
  padding-left: 15px;
  padding-right: 15px;
}

// 480px
@media screen and (min-width: 480px) {
  .container {
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

// 768px
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

// 1200px
@media screen and (min-width: 1200px) {
  .container {
    // width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
