:root {
  --color-primary-hover: #2196f3;
  --color-banner: #2f303a;
  --color-btn-banner-hover: #188ce8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f5f4fa;
  --primary-color: #212121;
  --secondary-color: #757575;
  --color-svg: #afb1b8;
  --primary-font-famaly: "Roboto", sans-serif;
  --secondary-font-famaly: "Raleway", sans-serif;
  --main-font-size: 14px;
  --main-letter-spacing: 0.03em;
  --main-color-link: #212121;
  --secondary-color-link: #757575;
}
